config SHIELD_focus
    def_bool $(shields_list_contains, focus)

# set the NFC pins as GPIO
config NFCT_PINS_AS_GPIOS
	default y

config TRACING
    default n

config DEBUG
    default n

config BUILD_OUTPUT_UF2
	default n

# use this one
config ZMK_KEYBOARD_NAME
    default "FocusBoard"

# here below doesnt work
# CONFIG_ZMK_KEYBOARD_NAME="FocusKeyboard"

# CONFIG_ZMK_USB_VID=0x1234
# CONFIG_ZMK_USB_PID=0x5679

# 0x1234
config ZMK_USB_VID
    int "USB Vendor ID"
    default 4660

# 0x5678
config ZMK_USB_PID
    int "USB Product ID"
    default 22136