if SHIELD_focus

config ZMK_KEYBOARD_NAME
    default "focus"

CONFIG_ZMK_DEBUG=n
CONFIG_ZMK_MATRIX_DEBUG=n

CONFIG_ZMK_MATRIX_DEBOUNCE=5

CONFIG_NFCT_PINS_AS_GPIOS=y

CONFIG_TRACING=n
CONFIG_DEBUG=n

CONFIG_UART_0_NRF_FLOW_CONTROL=n

CONFIG_BUILD_OUTPUT_UF2=n

CONFIG_ZMK_KEYBOARD_NAME="FocusBoard"

CONFIG_ZMK_USB_VID=0x1234
CONFIG_ZMK_USB_PID=0x5678

CONFIG_USB=y
CONFIG_USB_DEVICE_STACK=y
CONFIG_USB_DEVICE_PRODUCT="FocusKeyboard"
CONFIG_USB_DEVICE_MANUFACTURER="StayFocused"

endif

