config SHIELD_focus
    def_bool $(shields_list_contains, focus)

# set the NFC pins as GPIO
config NFCT_PINS_AS_GPIOS
	default y

config TRACING
    default n

config DEBUG
    default n

config BUILD_OUTPUT_UF2
	default n

# works
# config ZMK_KEYBOARD_NAME
#    default "FocusBoard"
