if SHIELD_focus

config ZMK_KEYBOARD_NAME
    default "focus"

CONFIG_ZMK_DEBUG=n
CONFIG_ZMK_MATRIX_DEBUG=n

CONFIG_ZMK_MATRIX_DEBOUNCE=5

CONFIG_NFCT_PINS_AS_GPIOS=y

CONFIG_TRACING=n
CONFIG_DEBUG=n

CONFIG_UART_0_NRF_FLOW_CONTROL=n

CONFIG_BUILD_OUTPUT_UF2=n

endif

