config SHIELD_focus
    def_bool $(shields_list_contains, focus)

# set the NFC pins as GPIO
config NFCT_PINS_AS_GPIOS
	default y

config TRACING
    default n

config DEBUG
    default n

config BUILD_OUTPUT_UF2
	default n

config ZMK_USB_VID
    default 0x1234

config ZMK_USB_PID
    default 0x5678
    
    