if SHIELD_focus

CONFIG_ZMK_DEBUG=n
CONFIG_ZMK_MATRIX_DEBUG=n

CONFIG_ZMK_MATRIX_DEBOUNCE=5

CONFIG_NFCT_PINS_AS_GPIOS=y

CONFIG_TRACING=n
CONFIG_DEBUG=n

CONFIG_UART_0_NRF_FLOW_CONTROL=n

CONFIG_BUILD_OUTPUT_UF2=n

# CONFIG_ZMK_USB=y
# CONFIG_USB_DEVICE_VID=0x1234
# CONFIG_USB_DEVICE_PID=0x5678

# 启用 USB 支持
CONFIG_ZMK_USB=y
# 设置 USB Vendor ID 和 Product ID
CONFIG_USB_DEVICE_VID=0x1012    # 将 0x1234 替换为你的 Vendor ID
CONFIG_USB_DEVICE_PID=0x5678    # 将 0x5678 替换为你的 Product ID

endif

